{% extends "base.html" %}

{% block title %}{{ product.name }} - Doghouse{% endblock %}

{% block content %}
<h2>{{ product.name }}</h2>
<div class="product-detail-container">
    <img src="{{ url_for('static', filename='img/' + product.image) }}" alt="{{ product.name }}" class="product-detail-image">
    
    <p><strong>Price:</strong> ${{ product.price }}</p>
    <p>{{ product.description }}</p>
    
    <form action="{{ url_for('purchase', id=product.id) }}" method="post">
        <button type="submit">Purchase</button>
    </form>
{% endblock %}
